<style>
img {
    width: 50%;
    margin: auto;
    display: block;
}

h2 {
    text-align: center; 
}
</style>

<div class="container">
    <img src="https://i.redd.it/027y5vnaxrzy.jpg">
    <h2>Error - Page not found</h2>
    <% if(auth == 'yes') { %>
        <div class="mt-5">
            <a href="/dashboard" class="btn btn-custom btn-round">View Dashboard <i class="mdi mdi-view-dashboard-outline"></i></a>
        </div>
    <% } else { %>
        <div class="mt-5">
            <a href="/users/register" class="btn btn-custom btn-round">Register Now  <i class="mdi mdi-arrow-right"></i></a>
        </div>
    <% } %>
</div>