<style>
.nav-link {
  padding: 1rem 1rem !important;
}
</style>

<div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="<% if(darkmode == true){%> bg-dark dark-border <%}else{%> bg-light <% } %> border-right" id="sidebar-wrapper">

          <div class="sidebar-heading">
            <% if(darkmode == true) { %>
              <img src="img/svg/logotextwhite.svg" alt="">
            <% } else { %>
              <img src="img/svg/logotextblack.svg" alt="">
            <% } %>
          </div>
          <div class="list-group list-group-flush <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>">
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"><i class="mdi mdi-view-dashboard"></i> Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"><i class="mdi mdi-folder"></i> My Drive</a>
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"><i class="mdi mdi-pencil"></i> SumoCreate</a>
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"><i class="mdi mdi-school"></i> University Apps</a>
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"><i class="mdi mdi-email"></i> Email</a>
            <a href="#" class="list-group-item list-group-item-action <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>"></a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div class=" <% if(darkmode == true){%> dark-container <%}%>" id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light <% if(darkmode == true){%> bg-dark dark-border <%}else{%> bg-light <% } %> border-bottom">
            <button class="btn btn-primary" onclick="menuToggle()" id="menu-hide">Hide <i class="mdi mdi-format-indent-decrease"></i></button>
            <button class="btn btn-primary" onclick="menuToggle()" id="menu-show" style="display: none;">Show <i class="mdi mdi-format-indent-increase"></i></button>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <% if(darkmode == true) { %>
                    <a class="nav-link active bg-dark" href="/darkmode">Dark Mode <i class="mdi mdi-weather-night"></i></a>
                  <% } else { %>
                    <a class="nav-link active bg-light" href="/darkmode">Light Mode <i class="mdi mdi-weather-sunny"></i></a>
                  <% } %>
                </li>
                <li class="nav-item active">
                  <a class="nav-link <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" href="#" >Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                  <a href="/users/logout" class="btn btn-secondary">Logout</a>
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= name %>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" href="#">Action</a>
                    <a class="dropdown-item <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" href="#">Another action</a>
                    <div class="dropdown-divider <% if(darkmode == true){%> dark-border <%}%>"></div>
                    <a class="dropdown-item <% if(darkmode == true){%> bg-dark <%}else{%> bg-light <% } %>" href="/users/logout">Logout</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    
          <div class="container-fluid">
            
          </div>
        </div>
        
        <script src="js/dashboard.js"></script>
    
      </div>