<style>
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 210mm;
  height: 297mm; 
}
page[size="A4"]:contenteditable {  
  width: 21cm;
  height: 29.7cm; 
}

.doc-top-nav {
    top: 58px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #d3d3d3;
    padding: 0px 10px;
    z-index: 1000 !important;
}
</style>

<h1 contenteditable="true" id="documentTitle" style="display: inline-block; padding-top: 10px;"><% if(document.docName != ""){%> <%= document.docName %> <%}else{%> New Document <% } %></h1>
<p class="" id="docTimeSaved" style="display: inline-block; font-size: 14px"> &nbsp;  Last saved: 2 Days ago</p>

<button type="submit" class="btn btn-primary float-right" id="savebtn"><i class="mdi mdi-content-save"></i> Save</button>
<button class="btn btn-primary float-right" id="cmd" style="margin-right: 10px;"><i class="mdi mdi-file-pdf"></i> Download as PDF</button>

<nav class="navbar navbar-expand-lg navbar-top-stick doc-top-nav" style="top: 58px;background-color: #fff;box-shadow: 0px 0px 4px #d3d3d3;padding: 0px 10px;">
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav doc-nav mr-auto" style="top: 1px;position: relative;">
            <li class="nav-item active  ">
                <a title="Undo" class="nav-link  " href="#"><i class="mdi mdi-undo"></i></a>
            </li>
            <li class="nav-item active  ">
                <a title="Redo" class="nav-link  " href="#"><i class="mdi mdi-redo"></i></a>
            </li>
            <li class="nav-item active  ">
                <a title="Print" class="nav-link  " href="#"><i class="mdi mdi-printer"></i></a>
            </li>

            <div class="nav-doc-divider"></div>

            
            <li class="nav-item active">
                <a class="nav-link" href="#" style="padding-bottom:2px !important;">
                    <i class="mdi mdi-format-title" style="display: inline-block;"></i>
                    <select id="font-size-option" class="form-control form-control-sm" style="display: inline;width: 120px;font-size:12px;position:relative;top:-2px;">
                    <option>Arial</option>
                    <option>Open Sans</option>
                    <option>16</option>
                    <option>18</option>
                    <option>20</option>
                    <option>22</option>
                    <option>24</option>
                    <option>26</option>
                    <option>28</option>
                    <option>30</option>
                    <option>32</option>
                    </select>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" style="padding-bottom:2px !important">
                    <i class="mdi mdi-format-size" style="display: inline-block;"></i>
                    <select class="form-control form-control-sm" style="display: inline;width: 60px;position:relative;top:-2px;">
                    <option>12</option>
                    <option>14</option>
                    <option>16</option>
                    <option>18</option>
                    <option>20</option>
                    <option>22</option>
                    <option>24</option>
                    <option>26</option>
                    <option>28</option>
                    <option>30</option>
                    <option>32</option>
                    </select>
                </a>
            </li>
            <li class="nav-item active  ">
                <a id="bold-option" class="nav-link  " href="#" onclick="addTags('bold');"><i class="mdi mdi-format-bold"></i></a>
            </li>
            <li class="nav-item active  ">
                <a id="italic-option" class="nav-link  " href="#" onclick="addTags('italic');"><i class="mdi mdi-format-italic"></i></a>
            </li>
            <li class="nav-item active  ">
                <a id="underline-option" class="nav-link  " href="#" onclick="addTags('underline');"><i class="mdi mdi-format-underline"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-invert-colors"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-color-highlight"></i></a>
            </li>
            
            <div class="nav-doc-divider"></div>

            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-list-bulleted"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-align-left"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-align-center"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-align-right"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-format-align-justify"></i></a>
            </li>

            <div class="nav-doc-divider"></div>

            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-image"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-youtube"></i></a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link  " href="#"><i class="mdi mdi-link-variant"></i></a>
            </li>

            <div class="nav-doc-divider"></div>
        </ul>

        <div class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" style="font-size: 14px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-file-download"></i> Download
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px;" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="mdi mdi-file-pdf"></i> Export as PDF</a>
                <a class="dropdown-item" href="#"><i class="mdi mdi-file-word"></i> Export as Docx</a>
                <a class="dropdown-item" href="#"><i class="mdi mdi-note-text"></i> Export as .txt</a>
            </div>
        </div>
      </div>
</nav>
<br>

<page id="docTextArea" contenteditable="true" size="A4">
    <%- docText %>
</page>

<nav class="navbar navbar-expand-lg navbar-top-stick" style="border-radius: 10px 10px 0px 0px;border-top: 1px solid #343a40;bottom: 0;z-index: 1000 !important;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav doc-nav mr-auto">
            <li class="nav-item active bg-dark">
                <a title="Undo" class="nav-link bg-dark" href="#"><i class="mdi mdi-undo"></i></a>
            </li>
            <li class="nav-item active bg-dark">
                <a title="Redo" class="nav-link bg-dark" href="#"><i class="mdi mdi-redo"></i></a>
            </li>
            <li class="nav-item active bg-dark">
                <a title="Print" class="nav-link bg-dark" href="#"><i class="mdi mdi-printer"></i></a>
            </li>
            <li class="nav-item active bg-dark">
                <a class="nav-link bg-dark" href="#"><i class="mdi mdi-file-pdf"></i></a>
            </li>
            <li class="nav-item active bg-dark">
                <a class="nav-link bg-dark" href="#"><i class="mdi mdi-file-pdf"></i></a>
            </li>
        </ul>

        <div class="nav-item active bg-dark dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download Document
              </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
      </div>
</nav>

<input hidden id="secretIdValue" value="<%= document._id %>"></input>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js">
</script>

<script src="../js/docFunctions.js"></script>


<script>
    var doc = new jsPDF('p','mm',[210, 297]);

    $('#cmd').click(function () {
        var filename = document.getElementById('documentTitle').innerHTML;
        doc.fromHTML($('#docTextArea').html(), 10, 10);
        doc.save(filename + '.pdf'); 
    });
</script>
