<Style>
body {
    background-color: #fafaff !important;
}
</Style>

<div class="container" style="background-color: #fafaff !important;" onload="bodyBackground()">
    <br>
    <h1 class="title-heading text-center">Subscription Plans</h1>
    <br><br>
    <% include ./partials/messages %>

    <div class="row mt-4">
        <div class="col-lg-3" >
            <div class="pricing-box text-center p-5 mt-5">
                <h4 class="pricing-plan text-uppercase">Basic plan</h4>
                <h2 class="pricing-price mt-5 mb-0">$5.00</h2>
                <p class="pricing-month mt-2">Per Month</p>
                <p class="text-muted mt-4">
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Docs, Slides and Spreadsheets<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> University Intergration<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> SumoNotes for amazing note taking<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#ff9801;"></i> 10GB of file storage<br>
                    <i class="mdi mdi-cancel" style="color:red;"></i> Live Plagerism Checker<br>
                    <i class="mdi mdi-cancel" style="color:red;"></i> Live Grammer Checker<br>
                </p>
                <div class="mt-5">
                    <a href="/users/register" class="btn btn-secondary btn-sm btn-round">Join Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3" >
            <div class="pricing-box-active text-center bg-white p-5 mt-5">
                <h4 class="pricing-plan text-uppercase">Basic Year Plan</h4>
                <h2 class="pricing-price mt-5 mb-0">$50.00</h2>
                <p class="pricing-month mt-2">1 Year, 2 MONTHS FREE!</p>
                <p class="text-muted mt-4">
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Docs, Slides and Spreadsheets<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> University Intergration<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> SumoNotes for amazing note taking<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#ff9801;"></i> 10GB of file storage<br>
                    <i class="mdi mdi-cancel" style="color:red;"></i> Live Plagerism Checker<br>
                    <i class="mdi mdi-cancel" style="color:red;"></i> Live Grammer Checker<br>
                </p>
                <div class="mt-5">
                    <a href="/users/register" class="btn btn-custom btn-sm btn-round">Join Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3" >
                <div class="pricing-box-active text-center bg-white p-5 mt-5">
                    <h4 class="pricing-plan text-uppercase">Deluxe Year Plan</h4>
                    <h2 class="pricing-price mt-5 mb-0">$100.00</h2>
                    <p class="pricing-month mt-2">1 Year, 2 MONTHS FREE!</p>
                    <p class="text-muted mt-4">
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Docs, Slides and Spreadsheets<br>
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> University Intergration<br>
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> SumoNotes for amazing note taking<br>
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Unlimited file storage<br>
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Live Plagerism Checker<br>
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Live Grammer Checker<br>
                    </p>
                    <div class="mt-5">
                        <a href="/users/register" class="btn btn-custom btn-sm btn-round">Join Now</a>
                    </div>
                </div>
            </div>

        <div class="col-lg-3" >
            <div class="pricing-box text-center p-5 mt-5">
                <h4 class="pricing-plan text-uppercase">Deluxe Plan</h4>
                <h2 class="pricing-price mt-5 mb-0">$10.00 <span></span></h2>
                <p class="pricing-month mt-2">Per Month</p>
                <p class="text-muted mt-4">
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Docs, Slides and Spreadsheets<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> University Intergration<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> SumoNotes for amazing note taking<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Unlimited file storage<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Live Plagerism Checker<br>
                    <i class="mdi mdi-checkbox-marked-circle-outline" style="color:#01c853;"></i> Live Grammer Checker<br>
                </p>
                <div class="mt-5">
                    <a href="/users/register" class="btn btn-secondary btn-sm btn-round">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</div>