<link rel="stylesheet" href="/css/accountlogin.css">

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
            <a href="/"><img src="/img/svg/logoblack.svg" alt="logo"></a>
					</div>
					<div class="card fat">
						<div class="card-body">
              <h4 class="card-title">Register</h4>
              <% include ./partials/messages %>
							<form method="POST" class="my-login-validation" novalidate="">
								<div class="form-group">
                  <label for="name"><i class="mdi mdi-human-greeting"></i> Name</label>
									<input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Name"
                    maxlength="50"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
									<div class="invalid-feedback">
										What's your name?
									</div>
								</div>

								<div class="form-group">
									<label for="email"><i class="mdi mdi-email"></i> E-Mail Address</label>
									<input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder='Email'
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
									<div class="invalid-feedback">
										Your email is invalid
									</div>
                </div>
                
                <div class="form-group">
                  <div id="uni-selection">
                      <label for="unichoice"><i class="mdi mdi-school"></i> Select University</label><br>

                      <div class="container">
                        <div class="row">
                          <div id="uni-radio-selection" class="col-sm unileft" onclick="radioSelect('MQU', this)">
                            <input type="radio" id="MQU" name="uni" value="MQU" style="opacity: 0;"><img style="width:100%;" src="/img/unilogos/mqu.png"><label class="text-center" style="color: black">Macquarie<br>University</label>
                          </div>
                          <div id="uni-radio-selection1" class="col-sm unileft" onclick="radioSelect('OTHER', this)">
                            <input type="radio" id="OTHER" name="uni" value="OTHER" style="opacity: 0;"><img style="width:100%;" src="/img/unilogos/other.png"><label class="text-center" style="color: black">Other<br>University</label>
                          </div>
                          <div id="uni-radio-selection2" class="col-sm unileft" onclick="radioSelect('NONE', this)">
                            <input type="radio" id="NONE" name="uni" value="NONE" style="opacity: 0;"><img style="width:100%;" src="/img/unilogos/non.png"><label class="text-center" style="color: black">No Uni<br>University</label>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

								<div class="form-group">
									<label for="password"><i class="mdi mdi-key"></i> Password</label>
									<input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Create Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    data-eye
                  />
									<div class="invalid-feedback">
										Password is required
									</div>
                </div>

                <div class="form-group">
									<label for="password"><i class="mdi mdi-key"></i> Confirm Password</label>
                  <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Confirm Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    data-eye
                  />
									<div class="invalid-feedback">
										Password is required
									</div>
                </div>
                
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
										<div class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="/users/login">Login</a>
								</div>
              </form>
                
						</div>
					</div>
					<div class="footer1">
						Copyright &copy; 2020 &mdash; Unisumo 
					</div>
				</div>
			</div>
		</div>
	</section>
  <script src="/js/my-login.js"></script>
</body>
</div>
</div>

<script>
  function radioSelect(choice, span) {
    document.getElementById(choice).checked = true;
    $('#uni-radio-selection').removeClass('radio_checked');
    $('#uni-radio-selection1').removeClass('radio_checked');
    $('#uni-radio-selection2').removeClass('radio_checked');
    $(span).addClass('radio_checked');
  }
</script> -->