<div class="welcome_canvas">
  <div class="welcome_nav white">
    <img class="" src="/img/svg/logoblack.svg">
    <li class="welcome_nav_options">
      <ul><a href="/users/register" class="welcomelink transShadow">Home</a></ul>
      <ul><a href="/users/register" class="welcomelink transShadow">Pricing</a></ul>
      <ul><a href="/users/register" class="welcomelink transShadow">Features</a></ul>
      <ul><a href="/users/register" class="welcomebtn darkblue darkblueshadow transShadow">Register</a></ul>
      <ul><a href="/users/login" class="welcomebtn mainblue mainblueshadow transShadow">Login</a></ul>
    </li>
  </div>

  <div class="welcome_intro white">

  </div>
</div>
